[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
requests = "*"
pandas = "*"
beautifulsoup4 = ">=4.11.0"
boto3 = "*"
pytest = "*"
python-dotenv = "*"
pandas-datareader = "*"
serpapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
